﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron-villa {
    background-image: url('Images/Aston-Villa-Wallpaper.png');
    background-size: contain;
}

.jumbotron-villa h1 {
    color:#79849c;
}

.jumbotron-villa p {
    color:#79849c;

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}