﻿﻿@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<div>
    <p>
        Thanks very much for setting the task! It was quite a bit of fun.<br />
        I've put this page in to explain a couple of things about my solution.

    </p>

    <h4>Extra work</h4>
    <p>
        First off, the extra "nice to have" features I have not included. <br />
        I have added an autorefresh on the browser (see _Layout.cshtml meta tags)
        to prevent the page from needing to be manually refreshed.
        However, a better solution would of been to use polling on the feed in order
        to detect changes. I could of then leveraged Html WebSockets or SignalR to allow the server
        to push this information down. Alas, I ran out of time.

    </p>

    <h4>Rss Reader</h4>
    <p>
        For this I have used a library to help me. I think this was a sensible thing to do as it makes
        more sense (to me) to leverage existing code where possible. However, given this was a technical
        excersise I wasn't so sure? If you want to to write this myself then please let me know.

    </p>

    <h4>Images in the list</h4>
    <p>
        I decided as a little extra thing to include the images in the feed list. I did this as I thought
        it would be a little more appealling to the eye. I understand that sticking to requirements can be
        important and I didn't exactly do that but, well, by this stage I was enjoying myself and maybe got
        carried away!

    </p>

    <h4>Structure</h4>
    <p>
        I have attempted to construct the solution in a loosely coupled manor that is testible. For example,
        the MVC controller has two dependencies injected, one for the main RssReader service and another which
        essentially handles getting the image. I made did it this way firstly becuase it adheres to having
        a seperation of concerns (ie the controller should not really know/care about how to get an image from a web page).
        Doing this also allows the image retrieval to be mocked. This was imporant because otherwise the tests
        would of have to of been integration tests as they would being visitting outside sites everytime the
        controller was used (which is every time).

    </p>

    <h4>Jumbotron</h4>
    <p>
        Yes, I'm an Aston Villa fan. Sorry.

    </p>




</div>