﻿@model IEnumerable<GiveMeSport.ViewModels.RssItemViewModel>

@{
    ViewBag.Title = "Sport Rss Reader";
}

<div id="feed-list">
    @foreach (var item in Model)
    {
        <a href="@item.Link" class="feed-item list-group-item list-group row">
            <div class="col-md-10">
                <h4>@Html.DisplayFor(model => item.Title)</h4>
                <p>@Html.DisplayFor(model => item.PublishDate)</p>
            </div>
            <aside class="col-md-2">
                <img src="@item.ImageUrl" height="75" width="115" crossorigin="anonymous" />
            </aside>
        </a>
    }
</div>

<script type="text/javascript">
    //Gets the dominant image colour and set the background colour of the list item to it,
    //with a gradient and 70% opacity so its not too overwhelming

    $(document).ready(function () {
        var colorThief = new ColorThief();
        var feedList = document.getElementById('feed-list');
        var feedListItem = feedList.getElementsByClassName('feed-item')
        var feedImg = feedList.getElementsByTagName('img');

        for (var i = 0; i < feedImg.length; i++) {
            try{
                var color = colorThief.getColor(feedImg[i]);
            }
            catch (exception) {
                color = '145, 142, 142';
            }

            feedListItem[i].style.backgroundImage =
                'linear-gradient(to left,' + 'rgba(' + color + ', 0.6), white)'
        }
    });
</script>
